.plank {
    width: 70%;
    color: #4a4a4a;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    min-height: 4em;
    justify-content: center;
    align-items: center;
}

#plank__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#productor__form {
    display: flex;
    margin-left: 1em;
    justify-content: center;
}

#submitter {
    height: 100%;
}

#deleter {
    height: 100%;
}

#hover-img {
    transition: none !important
}